footer.footer#footer
    .container
        .row
            .col.footer__logo
                a.logo(href="index.html")
                    img(src="./img/logo-footer.png" alt="logotype")
                .footer__copyright
                    .icon
                        include ../../img/icons/copyright.svg
                    small 2020 Интернет-магазин. Все права защищены Любое копирование ссылок с данного ресурса карается законом РФ.
            .col.footer__information
                h4 Информация
                ul.footer__menu
                    li
                        a(href="index.html")
                            p Главаная
                    li
                        a(href="catalog.html")
                            p Каталог товаров
                    li
                        a(href="recycling.html")
                            p Утилизация
                    li
                        a(href="contacts.html")
                            p Контакты
            .col.footer__clients
                h4 Для клиента
                ul.footer__menu
                    li
                        a(href="payment.html")
                            p Доставка и оплата
                    li
                        a(href="warranty.html")
                            p Гарантия и возврат
                    li
                        a(href="policy.html")
                            p Политика конфиденциальности
            .col.footer__contacts
                .footer__phone.list-information
                    .list-information__icon
                        .icon
                            include ../../img/icons/phone.svg
                    .list-information__wrapper
                        a(href="tel:+74951221470")
                            p +7(495)122-14-70
                        a(href="tel:+79038097049")
                            p +7(903)809-70-49
                .footer__mail.list-information
                    .list-information__icon
                        .icon
                            include ../../img/icons/envelope.svg
                    .list-information__wrapper
                        a(href="mailto:info@mg77.ru")
                            p info@mg77.ru
                .footer__address.list-information
                    .list-information__icon
                        .icon
                            include ../../img/icons/marker.svg
                    .list-information__wrapper
                        p г. Москва, ул. 7-я Парковая, д.24А, офис 3
            .col.footer__copyright
                .icon
                    include ../../img/icons/copyright.svg
                small 2020 Интернет-магазин. Все права защищены Любое копирование ссылок с данного ресурса карается законом РФ.

#one-click.modal
    h2.text-center Купить в 1 клик
    form
        label.input-wrapper
            p  Имя
            .input-wrapper__inputs
                input(type="text" name="name" placeholder="Введите ваше имя" required)
        label.input-wrapper
            p  Телефон
            .input-wrapper__inputs
                input(type="tel" name="tel" placeholder="Введите ваш телефон" required)
        .descripton
            small Нажимаю на кнопку, вы даете согласие на
                a(href="policy") обработку персональных данных
        .btn-wrapper
            button.btn.btn-red.btn-primary(type="submit") заказать звонок

#cheaper.modal
    h2.text-center Нашли дешевле ?
    p.modal__description Пришлите нам ссылку на этот товар в другом магазине,и мы с Вами свяжемся и сделаем предложениею
    form
        label.input-wrapper
            p  Имя
            .input-wrapper__inputs
                input(type="text" name="name" placeholder="Введите ваше имя" required)
        label.input-wrapper
            p  Телефон
            .input-wrapper__inputs
                input(type="tel" name="tel" placeholder="Введите ваш телефон" required)
        label.input-wrapper
            p  Ссылка на товар
            .input-wrapper__inputs
                input(type="text" name="link_to_product" placeholder="Введите ссылку на товар" required)
        label.input-wrapper
            p  Комментарий
            .input-wrapper__inputs
                textarea(placeholder="Введите текст сообщения" name="message" rows="4")
        .descripton
            small Нажимаю на кнопку, вы даете согласие на
                a(href="policy") обработку персональных данных
        .btn-wrapper
            button.btn.btn-red.btn-primary(type="submit") Отправить

#faq.modal
    h2.text-center Связаться с нами
    form
        label.input-wrapper
            p  Имя
            .input-wrapper__inputs
                input(type="text" name="name" placeholder="Введите ваше имя" required)
        label.input-wrapper
            p  E-mail
            .input-wrapper__inputs
                input(type="text" name="name" placeholder="Введите ваш e-mail" required)
        label.input-wrapper
            p  Комментарий
            .input-wrapper__inputs
                textarea(placeholder="Введите текст сообщения" name="message" rows="4" required)
        .descripton
            small Нажимаю на кнопку, вы даете согласие на
                a(href="policy") обработку персональных данных
        .btn-wrapper
            button.btn.btn-red.btn-primary(type="submit") Отправить

#search
    form.search
        input(type="text" placeholder="Введите фразу для поиска..." name="AKBsearch" autocomplete="off" required)
        button(type="submit")
            .icon
                include ../../img/icons/search.svg
        .search__window
            a(href="product.html") Аккумулятор Spark 55 Ач 450A обр. пол.
            a(href="product.html") Аккумулятор Spark 55 Ач 450A обр. пол.
            a(href="product.html") Аккумулятор Spark 55 Ач 450A обр. пол.

#main-filter
    include ../includes/main-filter