.active-menu {
 @include md(overflow, hidden);

  .header__bottom {
    opacity: 1;
    width: 100%;
    transition: opacity .3s ease-in-out .1s, width .1s ease-in-out;
  }

  #hamburger {
    z-index: 100;

    .open {
      opacity: 0;
      transition: opacity .1s ease-in-out .1s;
    }

    .close {
      opacity: 1;
      transition: opacity .3s ease-in-out .1s;
    }
  }
}