input {
  border-radius: 0px;
  width: 100%;
  background: transparent;
}

input[type="text"], input[type="tel"], input[type="number"], textarea {
  border: 1px solid $grey-light;
  color: $black;
  font-size: 1.125rem;
  font-weight: $regular;
  font-family: $open-sans;
  padding: 15px 20px;
  outline: none;

  @include sm(padding, 15px);

  ::placeholder {
    color: $grey-light;
  }
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  font-weight: $bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  transition: box-shadow .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out, transform .3s ease-in-out;

  .icon {
    width: 30px;
    margin-left: 6px;
  }

  &:hover {
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.35);
    transform: translateY(-6px);
  }
}

// size
.btn-primary {
  padding: 15px 20px;
}

.btn-big {
  padding: 20px 40px;

  @include sm(padding, 10px 40px);
}

// color
.btn-black {
  background: $black;
}

.btn-red {
  background: $red;
}

// inputs
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .slider-range, .slider-range-min {
    width: 100%;
    margin: 10px 0;
  }

  h4 {
    margin-top: 28px;
    margin-bottom: 19px;
    flex: 1 1;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__inputs {
    width: 100%;

    &_many {
      margin-right: -10px;
      margin-left: -10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100% + 20px);

      .input-wrapper {
        margin: 0 10px;
        flex: 1 1 107px;
      }
    }
  }

  &__slider {
    display: flex;
    margin-left: -27px;
    margin-right: -27px;
    @include sm(margin, 0 -10px 0 0);
    @include sm(flex, 1 1 190px);
  }

  &__input {
    &_from, &_to {
      display: flex;
      align-items: center;
      margin-left: 27px;
      margin-right: 27px;
      margin-top: 10px;
      width: calc(50% - 44px);

      @include sm(margin, 15px 10px 8px);
      @include sm(width, calc(50% - 20px));

      h5 {
        margin: 0;
        padding: 0;
        margin-right: 20px;

        @include sm(margin-right, 5px);
      }
    }
  }
}

.select-wrapper {
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    background: $white;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  select {
    padding: 20px 17.5px;
    font-family: $open-sans;
    font-size: 1.125rem;
    border-radius: 0;
    border: 1px solid $grey;
    color: $black;
    width: 100%;
    outline: none;
    cursor: pointer;
    background: $white;

    @include sm(padding, 8px 20px);

    option {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }
  }

  .icon {
    width: 14px;
    height: 20px;
    display: flex;
    align-items: center;
    background: $white;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
  }
}

.slider-range, .slider-range-min {
  border: none;
  border-radius: 10px;
  background: $grey;
  height: 6px;
  margin-top: 20px;

  .ui-widget-header {
    background: $red;
  }

  .ui-state-default {
    border: none;
    border-radius: 50%;
    background: $red;
    width: 20px;
    height: 20px;
    top: -7px;
    outline: none;
  }
}