.stick-list {
  display: flex;
  align-items: center;

  @include sm(justify-content, space-between);
  @include sm(width, 100%);

  li {
    display: flex;
    align-items: center;

    @include md(margin-top, 10px);

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 50px;
      background: $grey;
      margin: 0 20px;

      @include md(height, 40px);
      @include md(margin, 0 15px);

      @include sm(display, none);
    }

    &:last-child {

      &:after {
        display: none;
      }
    }
  }
}// stick-list


.logo {
  width: 100%;
  max-width: 317px;

  @include sm(max-width, 216px);
}// logo

.search {
  position: relative;

  &__window {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 100%;
    display: none;
    overflow: hidden;
    background: $white;
    border-radius: 4px;
    border: 1px solid $grey-light;
    z-index: 100;
    padding: 10px 20px;

    a {
      padding: 10px 0;
      border-bottom: 1px solid $grey-light;
      font-size: 1.125rem;
      color: $grey;
      display: block;
      transition: color .3s ease-in-out;

      @include sm(font-size, 1rem);

      &:hover {
        color: $black;
      }

      &:last-child {
        border: none;
      }
    }
  }

  input:focus ~ &__window {
    display: block;
  }

  input {
    padding: 12px 18px;
    border-radius: 4px;
    background: $white;

    ::placeholder {
      color: $grey;
    }
  }

  button {
    padding: 5px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    background: $white;

    .icon {
      width: 24px;
      height: auto;
    }
  }
}

#search {
  display: none;

  @media screen and (max-width: 960px) {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: bottom .3s ease-in-out;
    z-index: 199;

    &.active {
      bottom: 63px;
    }

    .search {
      &__window {
        background: #f5f5f5;
        border-radius: 0;
        padding: 0 18px;

        a {
          font-size: .975rem;
          padding: 15px 0;
        }
      }

      button {
        background: #f5f5f5;
      }

      input {
        background: #f5f5f5;
        border-radius: 0;
      }

      input:focus ~ .search__window {
        bottom: 100%;
        top: auto;
      }
    }
  }
}

//search form


.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -5px;

  @include md(flex-direction, column);

  li {
    margin: 10px 5px;
  }

  .current-menu-item {
    a {
      display: block;

      &:after {
        width: 100%;
      }
    }
  }

  a {
    color: $white;
    padding: 4px 0;
    font-weight: $bold;
    position: relative;
    display: block;

    @include md(text-align, center);

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 0;
      background: $white;
      transition: width .3s ease-in-out;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 960px) {
    margin: -5px 0;
    margin-bottom: 25px;

    li {
      display: flex;
      justify-content: flex-end;
      margin: 5px 0;
    }

    a {
      font-size: 1.375rem;
    }
  }
}// main-menu

// mobile-menu
.mobile-menu {
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    font-weight: $regular;

    p {
      font-size: 1.125rem;
    }

    a {
      text-align: right;
      font-weight: $regular;
      font-size: 1.125rem;
    }

    .icon {
      width: 20px;
    }

    .list-information {
      justify-content: flex-end;

      &__wrapper {
        margin: -5px 0;
        a {
          margin: 5px 0;
        }
      }

      &__icon {
        margin-right: 10px;
      }
    }

    .header__time {
      width: 100%;
      justify-content: flex-end;
      margin-top: 15px;
      margin-bottom: 15px;

      &-icon {
        margin-right: 10px;
        width: auto;
      }
    }
  }
}// mobile-menu

.list-information {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}// list-information

.bucket {
  display: flex;
  align-items: center;

  &-icon {
    position: relative;
    margin-left: 15px;
    width: 40px;

    @include md(width, 30px);

    p {
      position: absolute;
      top: 0;
      right: -4px;
      border-radius: 50%;
      color: $white;
      background: $black;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: $bold;
    }
  }
}// bucket


// hamburger
#hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  margin-bottom: 20px;

  @include xs(margin-bottom, 10px);

  .open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .1s ease-in-out;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  span {
    left: 0;
    height: 2px;
    margin-bottom: 6px;
    width: 100%;
    background: $black;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// sidebar
.sidebar {
  @include col();
  @include size(4);
  @include size-elg(12);

  @include sm(margin-top, 0);

  .main-filter {
    @include md(display, none);
  }
}

.content {
  @include col();
  @include size(8);
  @include size-elg(12);

  @include elg(margin-top, 60px);
  @include sm(margin-top, 0);
}// sidebar


// main-filter
.main-filter {
  border: 1px solid $black;
  padding: 30px;
  background: $white;

  @include sm(padding, 30px 30px 20px);

  input {
    font-weight: $medium;
    font-family: $montserrat;
    font-size: 1.5rem;
  }

  &__title {
    margin: -30px -30px 0;
    padding: 15px 0;
    background: $red;
    color: $white;

    h4 {
      text-transform: uppercase;
      text-align: center;
    }
  }

  .submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -15px;

    .btn {
      margin-right: 3px;
      margin-left: 3px;
      margin-top: 27px;
      @include sm(margin-top, 10px);
    }

    &__found {
      margin-left: 3px;
      margin-right: 3px;
      flex: 1 1 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 27px;

      @include elg(flex, none);
      @include sm(margin-top, 10px);
      @include sm(width, 140px);
    }
  }

  @media screen and (max-width: 780px) {
    padding: 30px 30px 20px;
    border: none;

    &__title {
      margin-bottom: 5px;
    }

    input {
      padding: 8px 15px;
      font-size: 1.125rem;
    }

    .input-wrapper {
      h4 {
        margin-top: 15px;
        margin-bottom: 10px;
      }

      &__inputs {
        &_many {
          .input-wrapper {
            flex: 1 1 68px;
          }
        }
      }
    }
  }
}

#main-filter {
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    position: fixed;
    bottom: -100vh;
    left: 0;
    width: 100vw;
    max-height: calc(100vh - 63px);
    overflow-y: scroll;
    transition: bottom .3s ease-in-out;
    z-index: 199;

    &.active {
      bottom: 63px;
    }
  }
}
// main-filter


// category
.category {
  padding: 0 20px;
  border: 1px solid $black;
  display: flex;
  align-items: center;
  height: 118px;
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background .3s ease-in-out;

  .icon {
    width: 100px;
    height: 100px;

    @include md(width, 60px);
    @include md(height, 60px);
    @include sm(width, 40px);
    @include sm(height, 40px);

    path {
      transition: fill .3s ease-in-out;
    }
  }

  h3 {
    margin: 0 20px;
    transition: color .3s ease-in-out;
    flex: 1 1;
  }

  &:hover {
    h3 {
      color: $white;
    }

    path {
      fill: $white;
    }

    background: $red;
  }

  &.active {
    h3 {
      color: $white;
    }

    path {
      fill: $white;
    }

    background: $red;
  }

  @media screen and (max-width: 960px) {
    height: 90px;
    margin-top: 20px;
  }

  @media screen and (max-width: 780px) {
    padding: 0 15px;
    height: 70px;
    margin-top: 10px;

    h3 {
      margin: 0 15px;
    }
  }
}// category

// main-banner
.main-banner {
  margin-top: 60px;
  width: 100%;
  background-size: cover;
  border: 3px solid $black;
  box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
  color: $white;

  @include md(margin-top, 0);
  @include md(margin-bottom, 20px);

  h3 {
    flex: 1 1;

    @include sm(font-size, 1.125rem)
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 53px 55px 83px;
    background: rgba(0,0,0,.8);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include xs(padding, 20px 40px);
  }
  
  .white-line {
    height: 3px;
    width: 100%;
    background: #F5F5F5;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .price {
    color: $red;
    margin-left: 20px;
    font: $semi-bold 3.375rem $montserrat;
    @include sm(font-size, 2rem);
  }

  @media screen and (max-width: 780px) {
    &__wrapper {
      padding: 15px;
    }

    .price {
      order: 1;
    }

    .white-line {
      height: 1px;
      order: 2;
      margin-bottom: 15px;
    }

    h2 {
      order: 0;
    }

    h3 {
      order: 4;
    }
  }
}// main-banner

// product-demo
.product-demo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  max-width: 400px;

  @include col();

  * {
    outline: none;
  }

  h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -5px;
    margin-right: -5px;
  }

  a {
    text-align: center;

    &:hover {
      h4 {
        text-decoration: underline;
      }
    }
  }

  .img-wrapper {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .characteristic {
    margin-bottom: 30px;

    p {
      margin-top: 8px;
      display: block;
    }
  }

  .one-click {
    margin-bottom: 20px;
  }

  .btn {
    margin-bottom: 10px;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .product-availability {
    margin-bottom: 22px;
  }

  .product-price {
    margin-bottom: 20px;

    &__description {
      margin-bottom: 20px;
    }
  }
}

.product-availability {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;

  .icon {
    width: 20px;
    margin-right: 10px;

    path {
      fill: $green;
    }
  }

  &.red {
    color: $red;
    path {
      fill: $red;
    }
  }
}

.product-price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;

  * {
    margin: 0;
  }

  h2,h3,h4 {
    margin: 0;
    padding: 0;
  }

  &__description {
    color: $red;
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }

  .red {
    color: $red;
  }
}
// product

// modal
.modal {
  width: 100%;
  max-width: 600px;
  padding: 60px;
  display: none;

  &__description {
    text-align: center;
    margin: 0 -30px;
    margin-top: 30px;
    display: block;
  }

  form {
    margin-top: 30px;
  }

  .fancybox-close-small {
    width: 70px;
    height: 70px;
  }

  .input-wrapper {
    p {
      margin-top: 20px;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .btn-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .descripton {
    margin-top: 30px;
  }

  small {
    a {
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 780px) {
    padding: 30px 15px;

    .fancybox-close-small {
      width: 60px;
      height: 60px;
      right: -10px;
      top: -10px;
    }

    h2 {
      margin-bottom: 10px;
    }

    form {
      margin-top: 0px;
    }

    &__description {
      margin: 0;
      font-size: 1rem;
    }

    .descripton {
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .btn-wrapper {
      margin-top: 15px;
    }

    .input-wrapper {
      p {
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}// modal

// slider
.slider-arrow {
    max-width: 1360px;
    width: calc(100% - 160px);

    @include sm(width, calc(100% - 80px));
}

.slick-arrow {
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm(width, 16px);
  @include sm(height, 30px);

  &:before {
    display: none;
  }

  .icon {
    width: 100%;
  }
}

.slick-next {
  right: -50px;

  @include sm(right, -20px);
}

.slick-prev {
  left: -50px;

  @include sm(left, -20px);
}

.slick-dots {
  display: flex;
  justify-content: center;
  bottom: -40px;
}

.slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;

  &.slick-active {
    button {
      opacity: 1;
    }
  }
}

.slick-dots li button {
  border-radius: 50%;
  background: $grey;
  width: 3px;
  height: 3px;
  opacity: .5;

  &:before {
    display: none;
  }
}

// menu-bottom
.menu-bottom {
  display: none;

  @media screen and (max-width: 960px) {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 63px;
    overflow: hidden;
    width: 100vw;
    background: $red;
    color: $white;
    z-index: 9999;

    path {
      fill: $white;
    }

    p {
      color: $white;
    }

    &__row {
      display: flex;
      justify-content: space-evenly;
    }

    &__item {
      display: flex;
      flex-direction: column;
      transition: transform .3s ease-in-out;

      &.active {
        transform: translateY(-63px);
      }
    }

    &__open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 63px;
      padding: 12px 0 9px;

      .icon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
      }
    }

    &__close {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 63px;
      background: $burgundy;
      padding: 12px 7px 9px;

      .icon {
        width: 15px;
        height: 15px;
        margin: 5px;
      }
    }

    &__text {
      font-size: .5625rem;
      text-align: center;
    }

    .bucket-icon {
      margin-left: 0px;
      width: auto;

      p {
        width: 14px;
        height: 14px;
        background: $white;
        color: $red;
        font-size: .875rem;
        right: -2px;
      }

      .icon {
        width: 27px;
        height: 28px;
      }
    }
  }
}// menu-bottom

// sort-input
.sort-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__wrapper {
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      background: $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 4px;
      pointer-events: none;
    }
  }

  h5 {
    margin-right: 20px;
    @include sm(margin-right, 15px);
  }

  .select-wrapper {
    width: 86px;

    select {
      padding: 8px 10px;
    }

    .icon {
      right: 15px;
    }
  }

  .sort-link {
    border: none;
    padding: 0;
    font-size: 1.375rem;
    color: $red;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;

    option {
      cursor: pointer;
    }

    &:focus, &:active {
      border: none;
      box-shadow: none;
    }
  }
}// sort-input


// breadcrumbs
.breadcrumbs {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -2px 0;

  @include md(padding-top, 0px);
  @include sm(max-width, 300px);

  span {
    margin-right: 2px;
  }

  a, span, p {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  a, span {
    color: $grey;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: $black;
  }

  a, span, p {
    font-size: 1.5rem;

    @include sm(font-size, 1rem);
  }

}// breadcrumbs

// categories-side
.categories-side {
  margin-bottom: 20px;
  transition: margin .3s ease-in-out;

  @include md(margin-top, -20px);
  @include md(margin-bottom, -30px);
  @include sm(margin-top, -10px);
  @include sm(margin-bottom, 30px);

  h2 {
    line-height: 51px;
    margin-bottom: 0;

    @include sm(line-height, 29px);
  }

  &__row {
    width: 100% !important;
    padding: 0 !important;
    display: none;
  }

  &.active {
    margin-bottom: 60px;
    @include sm(margin-bottom, 60px);

    .categories-side__icon {
      transform: translateY(0px);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-45px);
    transition: transform .3s ease-in-out;

    &_times {

      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;

    .icon {
      path {
        fill: $black;
      }
    }

    .icon-wrapper {
      width: 40px;
      height: 45px;
      overflow: hidden;
      margin-right: 65px;
    }
  }

  @media screen and (max-width: 780px) {
    &__icon {
      transform: translateY(-32px);
    }

    .category {
      &:first-child {
        margin-top: 30px;
      }
    }

    &__button {
      .icon-wrapper {
        width: 30px;
        height: 32px;
        margin-right: 15px;
      }
    }

    &__icon {
      &_times {
        height: 32px;
        .icon {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}// categories-side

// pagination
.pagination {
  width: 100%;

  @include sm(margin-top, 10px);

  .icon {
    height: 20px;
    width: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include sm(justify-content, center);

    .page-numbers {
      padding: 0 10px;

      &:first-child {
        padding: 0;
      }

      &:last-child {
        padding: 0;
      }
    }

    a {
      &:hover {
        color: $grey;

        path {
          fill: $grey;
        }
      }
    }

    span {
      h5 {
        color: $grey-light;
      }

      path {
        full: $grey-light;
      }
    }

    a, span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}// pagination

// tabs
.tabs {
  display: flex;
  flex-wrap: wrap;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: calc(100% / 3);
    height: 70px;
    margin-bottom: -1px;
    border-radius: 6px 6px 0px 0px;
    position: relative;

    &.active {
      z-index: 1;
      border: 1px solid $grey-light;
      border-bottom-color: $white;
      padding: 9px 19px;

      .icon-open {
        transform: rotate(180deg);
      }
    }

    .icon {
      width: 40px;
      margin-right: 20px;

      @include sm(width, 30px);

      path {
        stroke: $black;
      }
    }

    .icon-open {
      display: none;
      @include elg(display, flex);

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      transition: transform .2s ease-in-out;

      @include sm(right, 18px);

      .icon {
        width: 13px;
        margin: 0;
      }
    }
  }

  &__window {
    width: 100% !important;
    border: 1px solid $grey-light;
    padding: 30px !important;
    display: none;
    flex-direction: column;

    @include sm(padding, 10px !important);
  }

  @media screen and (max-width: 1315px) {
    &__button {
      width: 100%;
      border-radius: 0;
      border: 1px solid $grey-light;
      background: #e5e5e5;
      padding: 10px 10px;
      justify-content: flex-start;

      &.active {
        border-bottom-color: $grey-light;
        padding: 10px 10px;
      }
    }

    &__window {
      margin-bottom: -1px;
      padding: 15px;
    }

    :nth-child(1) {
      order: 0;
      border-radius: 6px 6px 0px 0px;
    }
    :nth-child(2) {
      order: 2;
    }
    :nth-child(3) {
      order: 4;
    }

    :nth-child(4) {
      order: 1;
    }
    :nth-child(5) {
      order: 3;
    }
    :nth-child(6) {
      order: 5;
    }
  }
}// tabs


// box-order
.box-order {
  background: $white;
  border: 1px solid $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  h4, h5 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 5px;
  }
}// box-order

#map {
  height: 634px;
  width: 100%;

  @include sm(height, 364px);
  @include sm(width, calc(100% + 30px));
  @include sm(margin, 0 -15px);
}

// row-big
.row-big {
  @include row-flex();
  flex-wrap: wrap-reverse;

  .content {
    @include size(7.45);
    @include size-lg(12);

    margin-top: 0;
  }

  .sidebar {
    @include size(4.55);
    @include size-lg(12);

  }
}

// delivery-table
.delivery-table {
  display: flex;
  flex-wrap: wrap;

  &__title {
    background: #e5e5e5;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 254px;

    &:nth-child(1) {
      flex: 1 1 430px;
    }

    &:nth-child(3) {
      flex: 1 1 376px;
    }

    &:nth-child(4) {
      flex: 1 1 350px;
    }

    @include elg(flex, none !important);
    @include elg(width, 50%);
    @include md(width, 100%);

    &:first-child {
      .delivery-table__row, .delivery-table__title {
        padding-left: 30px;

        @include elg(padding-left, 15px);
      }
    }

    &:last-child {
      .delivery-table__row, .delivery-table__title {
        padding-right: 30px;

        @include elg(padding-right, 15px);
      }
    }
  }

  &__row {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 15px;

    &:nth-child(even) {
      background: linear-gradient(0deg, rgba(245, 245, 245, 0.74), rgba(245, 245, 245, 0.74)), linear-gradient(0deg, rgba(245, 245, 245, 0.74), rgba(245, 245, 245, 0.74)), rgba(245, 245, 245, 0.74);
    }

    &:nth-child(odd) {
      background: #EEEEEE;
    }
  }

  @media screen and (max-width: 780px) {
    h5 {
      font-size: .875rem;
    }

    &__column {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      height: auto;
      padding: 8px 5px;
      width: 100%;
    }

    &__row {
      min-height: 110px;
      padding: 10px 5px;
      background: #F5F5F5 !important;
      flex: 1 1 110px;
    }

  }
}// delivery-table

// discount-table
.discount-table {
  &__title {
    background: #e5e5e5;
    height: 100px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    align-items: center;

    &:first-child {
      flex: 1 1;
    }

    &:last-child {
      justify-content: center;
      max-width: 226px;
      width: 100%;

      h4, h5 {
        text-align: center;
      }
    }
  }

  &__row {
    height: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;

    &:nth-child(odd) {
      background: linear-gradient(0deg, rgba(245, 245, 245, 0.74), rgba(245, 245, 245, 0.74)), linear-gradient(0deg, rgba(245, 245, 245, 0.74), rgba(245, 245, 245, 0.74)), rgba(245, 245, 245, 0.74);
    }

    &:nth-child(even) {
      background: #EEEEEE;
    }
  }

  @media screen and (max-width: 780px) {
    &__title {
      height: 80px;
      padding: 0 10px;
    }

    &__column {
      display: flex;
      align-items: center;

      &:first-child {
        flex: 1 1;
      }

      &:last-child {
        max-width: 122px;
      }
    }

    &__row {
      padding: 0 10px;
    }
  }
}// discount-table


// black-box
.black-box {
  background: $black;
  padding: 24px 30px;
  margin-top: 30px;

  @include sm(margin-bottom, 30px);

  * {
    color: $white;
  }
}// black-box

// red-list
.red-list {
  margin-top: 5px;

  li {
    margin-top: 30px;
    padding-left: 60px;
    position: relative;

    &:after {
      content: '';
      background: url('../img/icons/tick.svg') no-repeat center center / cover;
      width: 40px;
      height: 30px;
      position: absolute;
      top: -1px;
      left: 0;
    }
  }
}// red-list