@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/open-sans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/open-sans/OpenSans-LightItalic.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/open-sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/open-sans/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf");
}