// font settings
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bolder: 800;

// font family
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// colors
$black: #000;
$white: #fff;

$grey: #808080;
$grey-light: #C4C4C4;

$red: #D32420;
$burgundy: #9F1310;

$green: #8CA82F;

$blue-text: #000A61;