// include files
@import "smart-grid";

// zeroing
@include reset();

@import "fonts";
@import "variables";
@import "settings";
@import "buttons";
@import "components";
@import "body";
@import "standarts";

// header
.header {
  position: relative;

  //header__top
  &__top {
    border-bottom: 1px solid $grey-light;
    padding: 9px 0;
  }

  &__time {
    display: flex;
    align-items: center;

    @include size-md(12);
    @include md(display, flex);
    @include md(justify-content, center);

    &-icon {
      margin-right: 20px;
      width: 40px;

      @include md(width, 30px);
    }
  }

  &__bucket {
    @include size-md(7);
    @include size-sm(12);
    @include md(order, 3);
  }

  //header__middle
  &__middle {
    padding: 12px 0 7px;

    @include md(padding, 24px 0 20px);

    .list-information {
      &__wrapper {
        margin: -3px 0;
        a {
          margin: 3px 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__logo {
    @include size(3.5);
    @include size-elg(6);
    @include size-md(12);

    @include elg(order, 0);
    @include md(display, flex);
    @include md(justify-content, space-between);
    @include md(align-items, center);

    .logo {
      margin-left: -30px;

      @include lg(margin-left, -25px);
      @include sm(margin-left, -15px);
    }
  }

  &__search {
    @include size(5);
    @include size-elg(12);

    @include elg(order, 2);
    @include elg(margin-bottom, 20px);
    @include elg(margin-top, 5px);
    @include md(display, none);
  }

  &__contacts {
    @include size(3.5);
    @include size-elg(6);
    @include size-md(5);
    @include size-sm(12);

    @include elg(order, 1);
    @include md(order, 4);

    display: flex;
    justify-content: flex-end;

    .icon {
      width: 40px;
      @include md(width, 30px);
    }
  }

  // header__bottom
  &__bottom {
    background: $black;
    padding: 16px 0;

    span, a, p {
      color: $white;
    }

    path {
      fill: $white;
    }

    @media screen and (max-width: 960px) {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: calc(100vh - 63px);
      overflow: hidden;
      padding: 100px 0 0;
      z-index: 99;
      background: rgba($black, .9);
      transition: opacity .3s ease-in-out, width .1s ease-in-out .3s;

      .container {
        overflow-y: scroll;
        height: 100%;
      }

      a {
        display: block;
      }

      .bucket {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

}// header


// faq-phone
.faq-phone {
  background: rgba(245, 245, 245, 0.74);

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .atention {
    margin-top: 20px;
    color: $grey;

    @include col();
    @include size(12);

    @include sm(order, 2);
    @include sm(margin-top, 30px);
  }

  &__form {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    @include sm(padding-top, 10px);

    input {
      padding-top: 14px;
      padding-bottom: 15px;
    }

    .error-wrapper, button {
      margin: 20px 10px 0;
    }

    .error-wrapper {
      flex: 1 1 300px;

      @include sm(flex, none);
      @include sm(width, calc(100% - 20px));

      &:first-child {
        @include sm(order, 0);
      }

      &:last-child {
        @include sm(order, 1);
      }
    }

    button {
      @include sm(margin-top, 30px);
      @include sm(order, 3);
    }
  }
}// faq-phone


// benefit
.benefit {
  h2 {
    color: $red;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      max-width: 830px;
      margin: 20px auto 0;
      background: $red;
      box-shadow: 0px 2px 4px rgba(211, 36, 32, 0.4);

      @include sm(display, none);
    }
  }

  &__item {
    @include size(4);
    @include size-lg(6);
    @include size-sm(10);
    @include size-xs(12);

    margin-top: 60px;
    position: relative;

    @include sm(margin-top, 30px);
  }

  &__icon {
    position: absolute;

    .icon {
      width: 114px;

      @include sm(width, 80px);
    }
  }

  &__text {
    margin-left: 60px;
    margin-top: 60px;

    @include sm(margin-top, 40px);
    @include sm(margin-left, 40px);
  }

  &__about {
    margin-top: 60px;

    @include sm(margin-top, 30px);
  }
}// benefit

// footer
.footer {
  background: $black;
  color: $white;
  padding: 30px 0 60px;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  path {
    fill: $white;
  }

  h4 {
    margin-bottom: 20px;
    @include sm(margin-bottom, 30px);
  }

  ul {
    @include sm(margin, -10px 0);

    li {
      margin: 6px 0;

      @include sm(margin, 10px 0);
    }

    a {
      line-height: 140%;
    }
  }

  p {
    font-size: 1rem;
  }

  &__copyright {
    margin-top: 40px;
    display: none;

    @include elg(display, flex);
    @include elg(margin-top, 30px);
    @include md(margin-bottom, 10px);

    .icon {
      width: 20px;
      margin-right: 12px;
      align-items: flex-start;
    }

    small {
      max-width: 380px;

      @include elg(max-width, 100%);
      @include elg(flex, 1 1);
    }
  }

  &__logo {
    @include size(4.8);
    @include size-elg(12);

    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include elg(align-items, center);
    @include sm(margin-bottom, 0px);
    @include sm(margin-top, 0px);

    .footer__copyright {
      display: flex;
      @include elg(display, none);
    }
  }

  &__information {
    @include size(2.5);
    @include size-elg(4);
    @include size-sm(12);

    margin-top: 30px;
  }

  &__clients {
    @include size(2.5);
    @include size-elg(4);
    @include size-sm(12);

    margin-top: 30px;

    a {
      max-width: 194px;
    }
  }

  &__contacts {
    @include size(2.2);
    @include size-elg(4);
    @include size-sm(12);

    margin-bottom: -30px;

    @include sm(margin-top, 10px);
    @include sm(margin-bottom, -20px);

    .list-information {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      @include sm(margin-top, 20px);
      @include sm(margin-bottom, 20px);

      &__icon {
        display: flex;
        align-items: center;

        .icon {
          display: flex;
          align-items: center;
          width: 40px;

          @include md(width, 30px);
        }
      }
    }
  }

  &__phone {
    .list-information {
      &__wrapper {
        margin: -4px;

        a {
          padding: 4px 0;
        }
      }
    }
  }

  &__address {
    .list-information__wrapper {
      max-width: 166px;
    }
  }
}// footer

// category-wrapper
.category-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include row-flex();

  .category {
    @include col();
    @include size(6);
    @include size-md(12);
  }
}// category-wrapper


// catalog
.catalog {
  h1 {
    margin-bottom: 30px;
  }

  .content {
    .row {
      @include xs(justify-content, center);
    }
  }

  .product-demo {
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-xs(9.4);

    margin-bottom: 30px;
    @include xs(margin-bottom, 20px);
  }

  .sort-input {
    margin-bottom: 15px;
  }

  .sort-row {
    margin-bottom: 30px;
  }
}// catalog

// AKB
.akb {
  @include md(padding-top, 0);
  @include sm(padding-top, 0);

  h1 {
    margin-bottom: 30px;
  }

  .content {
    @include md(margin-top, 0);
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 960px) {
    .category-wrapper {
      order: 2;
    }

    .sidebar {
      display: none;
    }

    h1 {
      order: 0;
    }

    .main-banner {
      order: 1;
    }
  }
}// AKB


// popular-products
.popular-products {
  h2 {
    margin-bottom: 70px;

    @include sm(margin-bottom, 30px);
  }

  &__item {
    display: flex !important;
    justify-content: center;
  }
}// popular-products

// product
.product {
  .tabs {
    margin-top: 60px;

    @include sm(margin-top, 30px);
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    @include lg(margin-left, 0px);
    @include lg(margin-right, 0px);
  }

  &__sliders, &__description {
    width: calc(100% / 12 * 6 - 60px);
    margin-left: 30px;
    margin-right: 30px;
    @include lg(width, 100%);
    @include lg(margin-left, 0px);
    @include lg(margin-right, 0px);
  }

  &__sliders {
    @include md(order, 1);
  }

  &__description {
    @include md(order, 0);

    .categories-side {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  h1 {
    margin-bottom: 20px;

    @include md(margin-bottom, 30px);
  }

  h5 {
    margin-bottom: 20px;
  }

  & &-availability {
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  & &-price {
    @include sm(order, 0);

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__description {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 30px;
      margin-top: 20px;
      @include sm(order, 1);
      @include sm(margin-bottom, 20px);
    }
  }

  & .cheaper {
    @include sm(order, 2);
    @include sm(margin-bottom, 30px);
  }

  & &__benefit {
    margin: 0 -10px;
    margin-bottom: 20px;
    display: flex;

    h5 {
      margin: 0 10px;
    }
  }

  & &__faq {
    margin-top: 10px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $grey-light;

    @include sm(padding, 20px 10px);

    a {
      margin: 10px 15px;
      @include sm(margin, 10px 0px);
      @include sm(font-size, 1.375rem);
      .icon {
        @include sm(width, 35px);
      }
    }
  }

  & &__buttons {
    display: flex;
    align-items: center;
    float-wrap: wrap;
    margin: 0 -15px;
    margin-top: 10px;

    a {
      margin: 0 15px;
      margin-top: 20px;
    }

    @media screen and (max-width: 780px) {
      flex-direction: column-reverse;
    }
  }

  & &__slider {
    &_big {
      .slick-arrow {
        width: 16px;
        height: 30px;
      }

      .slick-next {
        right: 6px;
      }

      .slick-prev {
        left: 6px;
      }
    }

    &_small {
      margin: 30px 25px 0;

      @include lg(margin-bottom, 30px);

      .slick-arrow {
        width: 16px;
        height: 30px;
      }

      .slick-next {
        right: -15px;
      }

      .slick-prev {
        left: -15px;
      }

      @include sm(margin, 8px -4px 30px);
    }
  }

  & &__img {
    padding: 30px;
    border: 1px solid $grey;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & &__thumb {
    padding: 15px;
    border: 1px solid $grey;
    margin: 0 15px;

    @include sm(margin, 0 4px);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-table {
    @include sm(margin, -10px);

    &__column {
      display: flex;
      align-items: center;

    }

    a {
      flex: 1 1 100px;
      @include elg(font-size, 1.125rem);
      @include md(margin-left, 10px);
      @include md(width, 180px);
      @include md(flex, none);
      @include sm(font-size, .687rem);
      @include sm(width, 100px);
    }

    &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 2px 0 8px;
      border-bottom: .5px solid #E5E5E5;

      @include lg(height, 83px);
      @include md(justify-content, space-between);
      @include sm(padding, 0 10px);
      @include sm(height, 50px);

      h4 {
        width: 460px;
        @include md(width, auto);
        @include sm(font-size, 1rem);
      }

      p {
        width: 230px;
        @include lg(width, 225px);
        @include md(width, auto);
        @include md(margin-left, 5px);
        @include sm(font-size, .875rem);
      }
    }
  }
}// product


// basket
.basket {

  &-products {
    &__top, &__middle, &__bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    &__top {
      @include elg(display, none);
    }

    &__middle {
      padding: 15px 0;
      margin: 30px 0;
      border-top: 1px solid $grey-light;
      border-bottom: 1px solid $grey-light;
      flex-wrap: wrap;

      @include elg(margin-top, 0);
      @include sm(padding, 10px 15px);
      @include sm(margin, 0 -15px 30px);

      h5 {
        max-width: 340px;
      }

      h4 {
        display: none;
      }

      @media screen and (max-width: 1315px) {
        .basket-products__capacity,
        .basket-products__count,
        .basket-products__price {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex: none;
          order: 2;
          padding: 10px 0;

          h4 {
            display: flex;
          }
        }

        .basket-products__capacity {
          margin-top: 10px;
        }

        .basket-products__count {
          border-bottom: 1px solid #F5F5F5;
          border-top: 1px solid #F5F5F5;
        }

        .basket-products__button {
          order: 1;
          flex: none;
          margin: 0 15px;
        }

        .basket-products__name {
          order: 0;
        }
      }

      .basket-products__button {
        @include sm(margin, 0 -15px);
      }
    }

    &__bottom {
      @media screen and (max-width: 1315px) {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        .basket-products__count,
        .basket-products__price,
        .basket-products__button,
        .basket-products__name {
          flex: none;
        }

        .basket-products__count {
          width: 100%;
          order: 0;
          justify-content: flex-end;
          margin-bottom: 10px;
        }

        .basket-products__price {
          order: 2;
          margin-top: 5px;
        }

        .basket-products__button {
          width: 100%;
          order: 3;
          justify-content: flex-end;
          margin-top: 20px;
        }

        .basket-products__name {
          order: 1;
          margin-right: 10px;

          h3 {
            @include sm(font-size, 1.5rem);
          }
        }

        .basket-products__capacity {
          display: none;
        }
      }
    }

    &__name {
      flex: 1 1 550px;
      display: flex;
      align-items: center;

      @include sm(flex, none);

      h3 {
        @include elg(font-weight, $medium);
      }

      @media screen and (max-width: 780px) {
        h5 {
          max-width: 190px;
        }
      }
    }

    &__capacity, &__count, &__price, &__button {
      flex: 1 1 176px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button {
      a.black {
        height: 60px;
        width: 60px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .3s ease-in-out, border-color .3s ease-in-out;

        path {
          fill: $black;
          transition: fill .3s ease-in-out;
        }

        .icon {
          width: 30px;
          margin: 0;
        }

        &:hover {
          background: $red;
          border-color: $red;

          path {
            fill: $white;
          }
        }

        &:focus {
          background: transparent;
          border-color: $red;

          path {
            fill: $red;
          }
        }

        @media screen and (max-width: 780px) {
          width: 45px;
          height: 45px;
          border-radius: 0;

          .icon {
            width: 15px;
          }

          &:focus {
            background: transparent;
            border-color: transparent;

            path {
              fill: $black;
            }
          }

          &:hover {
            background: transparent;
            border-color: transparent;

            path {
              fill: $black;
            }
          }
        }
      }
    }

    &__img-wrapper {
      width: 180px;
      height: 180px;
      padding: 15px;
      border: 1px solid $grey;
      margin-right: 30px;

      img {
        object-fit: cover;
      }

      @media screen and (max-width: 780px) {
        width: 120px;
        height: 120px;
        margin-right: 10px;
      }

      @media screen and (max-width: 370px) {
        width: 80px;
        height: 80px;
        padding: 5px;
      }
    }

    &__product {
      width: 100%;
      margin: 15px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap-reverse;
      @include elg(flex-wrap, wrap);
      @include sm(justify-content, space-between);
    }
  }

  &-form {
    .container {
      overflow: hidden;
    }

    h2 {
      margin-bottom: 0;
    }

    &__double {
      padding: 0 60px;
      flex: 1 1 580px;
      margin-bottom: 60px;

      @include sm(margin-bottom, 20px);
      @include elg(padding, 0 30px);

      &:last-child {
        .input-wrapper {
          p {
            max-width: 90px;
          }
        }
      }

      &-wrapper {
        margin: 0 -60px;
        display: flex;
        flex-wrap: wrap;

        @include elg(margin, 0 -30px);
      }
    }

    &__triple {
      padding: 0 30px;
      margin-bottom: 60px;

      @include sm(margin-bottom, 20px);

      &:nth-child(1) {
        flex: 1 1 500px;
      }

      &:nth-child(2) {
        flex: 1 1 400px;
      }

      &:nth-child(6) {
        flex: 1 1 400px;
      }

      h3, h4 {
        margin-bottom: 10px;
      }

      &-wrapper {
        margin: 0 -30px;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .input-wrapper {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      @include sm(flex-direction, column);
      @include sm(margin-top, 20px);

      &__inputs {
        width: auto;
        flex: 1 1;

        @include sm(width, 100%);
        @include sm(flex, none);
      }

      p {
        margin-top: 15px;
        width: 150px;

        @include sm(width, 100%);
        @include sm(margin, 0 0 10px);
      }

      &__additionally {
        display: flex;
        align-items: center;
        margin-top: 25px;

        input {
          max-width: 150px;
        }

        span {
          margin: 0 10px;
          font-family: $montserrat;
          font-weight: $medium;
          font-size: 1.5rem;
        }
      }
    }

    &__submit {
      padding-top: 10px;
      border-top: 1px solid $grey-light;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include sm(flex-direction, column);
      @include sm(padding-top, 0);
      @include sm(margin-top, 10px);

      .btn {
        margin-top: 30px;
      }
    }

    &__result {
      @include sm(width, 100%);
      margin-top: 10px;
    }

    &__description {
      display: flex;
      margin-top: 20px;
      h4 {
        margin-right: 30px;

        @include sm(margin-right, 5px);
      }
    }

    .radio-wrapper {
      margin-top: 20px;
    }
  }
}// basket


// contacts
.contacts {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;

    @include lg(margin, 0);
  }

  &__data {
    margin-left: 30px;
    margin-right: 30px;

    @include lg(margin, 0);

    &_information {
      width: calc(100% / 12 * 3 - 60px);
      display: flex;
      flex-direction: column;

      @include lg(width, 100%);
      @include lg(align-items, center);

      .list-information__wrapper {
        @include lg(width, 185px);
      }
    }

    &_order {
      width: calc(100% / 12 * 4.5 - 60px);

      @include lg(width, 100%);
    }
  }

  .list-information {
    margin-bottom: 45px;

    @include lg(margin-bottom, 20px);

    &__wrapper {
      max-width: 185px;
    }
  }
}// contacts

// recycling
.recycling {
  &__banner {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    color: $white;

    @include sm(padding, 30px 28px);
    @include sm(margin-bottom, 30px);
    @include sm(margin-top, 20px);
  }

  .discount-table {
    @include sm(margin-top, 30px);
  }
}// recycling

article {
  h2 {
    margin-bottom: 60px;

    @include sm(margin-bottom, 30px);
  }
}

.map {
  padding-top: 60px;

  @include lg(padding-top, 30px);
}

// delivery
.delivery {
  .delivery-table {
    @include col();
    @include size(12);

    margin-top: 60px;
    margin-bottom: 30px;

    @include sm(margin-top, 30px);
    @include sm(margin-bottom, 10px);
  }
}// delivery


// payment
.payment {
  h2 {
    margin-bottom: 30px;

    @include md(text-align, center);
    @include sm(margin-bottom, 20px);
  }

  &__item {
    @include col();
    @include size(4);
    @include size-elg(6);
    @include size-md(8);
    @include size-sm(10.6);

    position: relative;
    padding-bottom: calc(100% / 3 - 30px);
    overflow: hidden;
    margin-top: 30px;

    @include lg(padding-bottom, calc(100% / 2 - 30px));
    @include sm(margin-top, 20px);
    @include xs(padding-bottom, calc(100% / 1.5 - 30px));
    @include xx(padding-bottom, calc(100% / 12 * 10.6 - 30px));

    &_delivery {
      @media screen and (max-width: 1350px) {
        @include size(6);
      }

      .payment__content {
        justify-content: flex-start;
        @include elg(justify-content, center);

        img {
          margin-top: 10%;
          @include elg(margin-top, 0);
        }

        p {
          max-width: none;
          @include sm(font-size, 1rem);
        }

        @media screen and (max-width: 1525px) {
          h4 {
            margin-top: 20px;
          }
        }

        @media screen and (max-width: 1400px) {
          img {
            margin-top: 20px;
          }
        }
      }
    }

    &:hover {
      .payment__box {
        top: 0;
        transition: top .01s ease-in-out;

        a {
          opacity: 1;
          transition: opacity .2s ease-in-out .2s;
        }
      }

      .payment__squad {
        transition: top .2s ease-in-out, bottom .2s ease-in-out, left .2s ease-in-out, right .2s ease-in-out;

        &_one {
          top: 0;
          left: 0;
        }

        &_two {
          top: 0;
          right: 0;
        }

        &_three {
          bottom: 0;
          left: 0;
        }

        &_four {
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid $red;
    z-index: 1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include sm(padding, 6px);

    img {
      width: 120px;

      @include elg(width, 70px);
    }

    h3 {
      margin-top: 20px;
      text-align: center;
    }

    h4 {
      margin-top: 14%;
      margin-bottom: 10px;
      text-align: center;

      @include lg(margin-top, 15px);
      @include lg(margin-bottom, 0);
    }

    p {
      margin-top: 10px;
      text-align: center;
      max-width: 360px;
    }
  }

  &__box {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: top .01s ease-in-out .4s;

    a {
      color: $white;
      opacity: 0;
      z-index: 1;
      transition: opacity .2s ease-in-out;
    }
  }

  &__squad {
    width: 51%;
    height: 51%;
    background: $red;
    position: absolute;
    transition: top .2s ease-in-out .2s, bottom .2s ease-in-out .2s, left .2s ease-in-out .2s, right .2s ease-in-out .2s;

    &_one {
      top: -51%;
      left: -51%;
    }

    &_two {
      top: -51%;
      right: -51%;
    }

    &_three {
      bottom: -51%;
      left: -51%;
    }

    &_four {
      bottom: -51%;
      right: -51%;
    }
  }


}// payment