// include files
@import "smart-grid";

// zeroing
@include reset();

@import "fonts";
@import "variables";
@import "settings";
@import "standarts";
@import "buttons";
@import "components";
@import "body";

// header
.header {
  position: relative;

  //header__top
  &__top {
    border-bottom: 1px solid $grey-light;
    padding: 9px 0;
  }

  &__time {
    display: flex;
    align-items: center;

    @include size-md(12);
    @include md(display, flex);
    @include md(justify-content, center);

    &-icon {
      margin-right: 20px;
      width: 40px;

      @include md(width, 30px);
    }
  }

  &__bucket {
    @include size-md(7);
    @include size-sm(12);
    @include md(order, 3);
  }

  //header__middle
  &__middle {
    padding: 12px 0 7px;

    @include md(padding, 24px 0 20px);

    .list-information {
      &__wrapper {
        margin: -3px 0;
        a {
          margin: 3px 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__logo {
    @include size(3.5);
    @include size-elg(6);
    @include size-md(12);

    @include elg(order, 0);
    @include md(display, flex);
    @include md(justify-content, space-between);
    @include md(align-items, center);

    .logo {
      margin-left: -30px;

      @include lg(margin-left, -25px);
      @include sm(margin-left, -15px);
    }
  }

  &__search {
    @include size(5);
    @include size-elg(12);

    @include elg(order, 2);
    @include elg(margin-bottom, 20px);
    @include elg(margin-top, 5px);
    @include md(display, none);
  }

  &__contacts {
    @include size(3.5);
    @include size-elg(6);
    @include size-md(5);
    @include size-sm(12);

    @include elg(order, 1);
    @include md(order, 4);

    display: flex;
    justify-content: flex-end;

    .icon {
      width: 40px;
      @include md(width, 30px);
    }
  }

  // header__bottom
  &__bottom {
    background: $black;
    padding: 16px 0;

    span, a, p {
      color: $white;
    }

    path {
      fill: $white;
    }

    @media screen and (max-width: 960px) {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: calc(100vh - 63px);
      overflow: hidden;
      padding: 100px 0 0;
      z-index: 99;
      background: rgba($black, .9);
      transition: opacity .3s ease-in-out, width .1s ease-in-out .3s;

      .container {
        overflow-y: scroll;
        height: 100%;
      }

      a {
        display: block;
      }

      .bucket {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

}// header


// faq-phone
.faq-phone {
  background: rgba(245, 245, 245, 0.74);

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .atention {
    margin-top: 20px;
    color: $grey;

    @include col();
    @include size(12);

    @include sm(order, 2);
    @include sm(margin-top, 30px);
  }

  &__form {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include sm(padding-top, 10px);

    input, button {
      margin: 20px 10px 0;
    }

    input {
      flex: 1 1 300px;

      @include sm(flex, auto);

      &:first-child {
        @include sm(order, 0);
      }

      &:last-child {
        @include sm(order, 1);
      }
    }

    button {
      @include sm(margin-top, 30px);
      @include sm(order, 3);
    }
  }
}// faq-phone


// benefit
.benefit {
  h2 {
    color: $red;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      max-width: 830px;
      margin: 20px auto 0;
      background: $red;
      box-shadow: 0px 2px 4px rgba(211, 36, 32, 0.4);
    }
  }

  &__item {
    @include size(4);
    @include size-lg(6);
    @include size-sm(10);
    @include size-xs(12);

    margin-top: 60px;
    position: relative;
  }

  &__icon {
    position: absolute;

    .icon {
      width: 114px;
    }
  }

  &__text {
    margin-left: 60px;
    margin-top: 60px;
  }

  &__about {
    margin-top: 60px;
  }
}// benefit

// footer
.footer {
  background: $black;
  color: $white;
  padding: 30px 0 60px;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  path {
    fill: $white;
  }

  h4 {
    margin-bottom: 20px;
  }

  ul {

    li {
      margin: 6px 0;
    }

    a {
      line-height: 115%;
    }
  }

  &__logo {
    @include size(4.8);
    @include size-elg(12);

    @include sm(order, 3);

    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include elg(align-items, center);
    @include sm(margin-bottom, 15px);
  }

  &__copyright {
    display: flex;
    margin-top: 40px;

    .icon {
      width: 20px;
      margin-right: 12px;
      align-items: flex-start;
    }

    small {
      max-width: 380px;

      @include elg(max-width, 100%);
      @include elg(flex, 1 1);
    }
  }

  &__information {
    @include size(2.5);
    @include size-elg(4);
    @include size-sm(12);

    @include sm(order, 0);
    @include sm(text-align, center);

    margin-top: 30px;
  }

  &__clients {
    @include size(2.5);
    @include size-elg(4);
    @include size-sm(12);

    @include sm(order, 1);
    @include sm(text-align, center);

    margin-top: 30px;
  }

  &__contacts {
    @include size(2.2);
    @include size-elg(4);
    @include size-sm(12);

    @include sm(order, 2);

    margin-bottom: -30px;

    .list-information {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      @include sm(justify-content, center);

      @include xs(align-items, center);
      @include xs(flex-direction, column);

      &__icon {
        display: flex;
        align-items: center;

        @include xs(margin-right, 0);
        @include xs(margin-bottom, 15px);
        @include xs(margin-top, 15px);

        .icon {
          display: flex;
          align-items: center;
          width: 40px;

          @include md(width, 30px);
        }
      }
    }
  }

  &__phone {
    .list-information {
      &__wrapper {
        margin: -4px;

        a {
          padding: 4px 0;
        }
      }
    }
  }

  &__address {
    @include xs(text-align, center);
  }
}// footer

// category-wrapper
.category-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include row-flex();

  .category {
    @include col();
    @include size(6);
    @include size-md(12);
  }
}// category-wrapper


// catalog
.catalog {
  .product-demo {
    @include col();
    @include size(4);

    margin-top: 30px;
  }
}// catalog

// AKB
.akb {
  @include md(padding-top, 0);

  .content {
    @include md(margin-top, 0);
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 960px) {
    .category-wrapper {
      order: 2;
    }

    .sidebar {
      display: none;
    }

    h1 {
      order: 0;
    }

    .main-banner {
      order: 1;
    }
  }
}// AKB


// popular-products
.popular-products {
  h2 {
    margin-bottom: 70px;

    @include sm(margin-bottom, 30px);
  }

  &__item {
    display: flex !important;
    justify-content: center;
  }
}