a.category(href="catalog.html")
    .icon
        include ../../img/icons/car.svg
    h3 Авто аккумуляторы
a.category(href="catalog.html")
    .icon
        include ../../img/icons/big-car.svg
    h3 Грузовые аккумуляторы
a.category(href="catalog.html")
    .icon
        include ../../img/icons/moto.svg
    h3 Мото аккумуляторы
a.category(href="catalog.html")
    .icon
        include ../../img/icons/ship.svg
    h3 Лодочные аккумуляторы
a.category(href="catalog.html")
    .icon
        include ../../img/icons/bat.svg
    h3 Тяговые / для ИБП
a.category(href="catalog.html")
    .icon
        include ../../img/icons/fuel.svg
    h3 Сопутствующие товары
a.category(href="catalog.html")
    .icon.small
        include ../../img/icons/oil.svg
    h3 ИБП