.categories-side.active
    a(href="#open-categories").categories-side__button
        .icon-wrapper
            .categories-side__icon.categories-side__icon_times
                .icon
                    include ../../img/icons/times.svg
            .categories-side__icon
                .icon
                    include ../../img/icons/characteristics.svg
        h2 Категории
    .categories-side__row
        include categories-current