section#benefit.benefit
    .container
        h2.text-center Работать с нами выгодно!
        .row.justify-center
            .col.benefit__item
                .benefit__icon
                    .icon
                        include ../../../build/img/icons/money.svg
                .benefit__text
                    p Благодаря большому количеству заказов, мы даём привлекательные цены на весь ассортимент.
            .col.benefit__item
                .benefit__icon
                    .icon
                        include ../../../build/img/icons/diploma.svg
                .benefit__text
                    p Каждая батарея сертифицирована для продажи в России, заряжена и полностью готова к эксплуатации.
            .col.benefit__item
                .benefit__icon
                    .icon
                        include ../../../build/img/icons/secure-shield.svg
                .benefit__text
                    p На все аккумуляторы распространяется официальная гарантия производителя от 1 года до 4 лет.
            .col.benefit__item
                .benefit__icon
                    .icon
                        include ../../../build/img/icons/medal.svg
                .benefit__text
                    p В каталоге представлены аккумуляторы от лучших зарубежных и отечественных производителей батарей.
            .col.benefit__item
                .benefit__icon
                    .icon
                        include ../../../build/img/icons/review.svg
                .benefit__text
                    p Мы делаем всё, чтобы клиент остался доволен не только товаром, но и процессом покупки.
        .benefit__about
            p В нашем интернет-магазине аккумуляторов Вы можете купить аккумулятор для автомобиля как импортного, так и отечественного производства. В каталоге представлены аккумуляторные батареи на легковые и грузовые автомобили.
            p Мы готовы предложить Вам полный спектр услуг по подбору, продаже и доставке автомобильных аккумуляторов. Вежливые и профессиональные консультанты помогут с подбором правильного аккумулятора исходя из характеристик автомобиля и пожеланий клиента. Пунктуальные курьеры обеспечат быструю доставку и, при необходимости, произведут установку аккумулятора.