section#faq-phone.faq-phone
    .container
        h3.text-center Если у Вас возникли вопросы, свяжитесь с нами по телефону
        h2.text-center +7 (812) 318-45-63
        p.text-center.faq-phone__description Или укажите свой номер, мы с удовольствием перезвоним
        form.faq-phone__form
            input(type="text" name="name" placeholder="Ваше имя" required)
            input(type="tel" name="phone" placeholder="Ваш телефон" required)
            button.btn.btn-primary.btn-black(type="submit") Отправить
        p.atention *Нажимая на кнопку вы даете согласие на обработку своих персональных данных