section#faq-phone.faq-phone.section
    .container
        h3.text-center Если у Вас возникли вопросы, свяжитесь с нами по телефону
        h2.text-center +7 (812) 318-45-63
        p.text-center.faq-phone__description Или укажите свой номер, мы с удовольствием перезвоним
        form.faq-phone__form
            .error-wrapper
                input(type="text" name="name" placeholder="Ваше имя" required).error
                .error-text
                    small *Неправильное имя
            .error-wrapper
                input(type="tel" name="tel" placeholder="Ваш телефон" required)
                .error-text
                    small *Неправильное имя
            button.btn.btn-small.btn-black(type="submit") Отправить
            p.atention *Нажимая на кнопку вы даете согласие на обработку своих персональных данных