extends common/layout

block content
    section.section.catalog#catalog
        .container
            .row
                .sidebar
                    include includes/categories
                    include includes/main-filter
                .content
                    .row
                        - for (var x = 0; x < 9; x++)
                            if x % 2 == 0
                                include includes/product-demo
                            else
                                include includes/product-demo_nothig



    include includes/footer-faq
    include includes/footer-benefit