extends common/layout

block content
    .container
        .breadcrumbs
            a(href="index.html") Главна
            span /
            a(href="catalog.html") Каталог товаров
            span /
            p Авто аккумуляторы
    section.section.catalog#catalog
        .container
            .row
                .sidebar
                    include includes/categories-side-current
                    include includes/main-filter
                .content
                    h1.text-sm-center Авто аккумуляторы
                    .sort-row
                        label.sort-input.d-none.d-md-flex
                            h5 Показывать на странице:
                            .sort-input__wrapper
                                .select-wrapper
                                    select
                                        option 10
                                        option(selected) 9
                                        option 8
                                        option 7
                                        option 6
                                        option 5
                                        option 4
                                    .icon
                                        include ../img/icons/align-down.svg
                        label.sort-input
                            h5 Сортировка:
                            .sort-input__wrapper
                                select.sort-link
                                    option По возрастанию
                                    option По убыванию
                    .row
                        - for (var x = 0; x < 9; x++)
                            if x % 2 == 0
                                include includes/product-demo
                            else
                                include includes/product-demo_nothig
                    nav.navigation.pagination(role="navigation")
                        .nav-links
                            span.first.page-numbers.current(href="catalog.html")
                                .icon
                                    include ../img/icons/double-align-left.svg
                            span.prev.page-numbers.current(href="catalog.html")
                                .icon
                                    include ../img/icons/pagination-left.svg
                            span.page-numbers.current
                                h5.meta-nav.screen-reader-text 1
                            a.page-numbers(href="catalog.html")
                                h5.meta-nav.screen-reader-text 2
                            h5.page-numbers.dots …
                            a.page-numbers(href="catalog.html")
                                h5.meta-nav.screen-reader-text 5
                            a.next.page-numbers(href="catalog.html")
                                .icon
                                    include ../img/icons/pagination-right.svg
                            a.last.page-numbers(href="catalog.html")
                                .icon
                                    include ../img/icons/double-align-right.svg

    include includes/footer-faq
    include includes/footer-benefit