extends common/layout

block content
    section.section.akb#akb
        .container
            .row
                .sidebar
                    include includes/main-filter
                .content
                    h1 Интернет-магазин аккумуляторов AKBsale
                    .category-wrapper
                        include includes/categories
                    a.main-banner(href="category")
                        .main-banner__wrapper
                            h2 АКЦИЯ
                            .white-line
                            h3 при покупке аккумуляторов MNB скидка на источник бесперебойного питания HIDEN
                            p.price 10%
    section.section.popular-products#popular-poducts
        .container
            h2.text-center Популярные товары
        .container.slider-arrow
            .popular-products__slider
                - for (var x = 0; x < 4; x++)
                    .popular-products__item
                        include includes/product-demo

    include includes/footer-faq
    include includes/footer-benefit