extends common/layout

block content
    .container
        .breadcrumbs
            a(href="index.html") Главна
            span /
            p Оптовые поставки
    section.section.opt#opt
        .container
            h1 Купить аккумуляторы оптом в Москве
            .opt__content
                p Для получения оптового прайса отправьте заявку на
                br
                a.red(href="mailto:info@mg77.ru") info@mg77.ru
                br
                p или позвоните нам
                    a.red(href="tel:+74951221470") +7 (495) 122-14-70
                br
                br
                p Оперативная поставка
                br
                br
                p Любая форма оплаты (наличный и безналичный расчет с НДС)