extends common/layout

block content
    .container
        .breadcrumbs
            a(href="index.html") Главна
            span /
            p Утилизация
    section.section.recycling#recycling
        .container
            h1 Сдать старый аккумулятор в Москве
            .row-big
                .content
                    p Утилизация автомобильных аккумуляторных батарей необходима с целью уменьшения количества токсичных веществ в твердых бытовых отходах. В аккумуляторных батареях содержатся тяжелые металлы, щёлочи, кислоты, которые, попадая в почву или воду, наносят значительный ущерб окружающей среде.
                    br
                    br
                    p Наша компания заботится об окружающей среде, поэтому мы не только принимаем аккумуляторы, но и платим за это деньги, при покупке нового аккумулятора!
                    .recycling__banner.b-lazy(data-src="./img/discount.jpg")
                        h3.text-center Скидки за сдачу отработанного аккумулятора
                    .box-order.d-none.d-sm-flex
                        h4.red Обработка заказов
                        h5 Режим работы:
                            br
                            | Ежедневно с 10:00 до 20:00
                        p Заказы принятые после указанного времени обрабатываются на следующий рабочий день.
                    .box-order.d-none.d-sm-flex
                        h4.uppercase ПРИ СДАЧЕ СТАРОГО АККУМУЛЯТОРА, ПРОСЬБА, СНЯТЬ ЕГО ДО ПРИЕЗДА КУРЬЕРА
                        p Аккумуляторы, имеющие течь электролита, при доставке принимаются по усмотрению курьера.
                    .discount-table
                        .discount-table__title
                            .discount-table__column
                                h4 Ёмкость
                            .discount-table__column
                                h4 Цена за 1 шт, руб.
                        .discount-table__row
                            .discount-table__column
                                h5 Мото аккумуляторы
                            .discount-table__column
                                h5 40р / кг
                        .discount-table__row
                            .discount-table__column
                                h5 Тяговые аккумуляторы / для ИБП
                            .discount-table__column
                                h5 400 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 55 - 65 Ач
                            .discount-table__column
                                h5 500 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 66 - 85 Ач
                            .discount-table__column
                                h5 600 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 90 - 110 Ач
                            .discount-table__column
                                h5 800 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 132 - 150 Ач
                            .discount-table__column
                                h5 1 400 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 180 - 190 Ач
                            .discount-table__column
                                h5 1 600 руб.
                        .discount-table__row
                            .discount-table__column
                                h5 220 - 240 Ач
                            .discount-table__column
                                h5 2200 руб.
                .sidebar.d-sm-none
                    .box-order
                        h4.red Обработка заказов
                        h5 Режим работы:
                            br
                            | Ежедневно с 10:00 до 20:00
                        p Заказы принятые после указанного времени обрабатываются на следующий рабочий день.
                    .box-order
                        h4.uppercase ПРИ СДАЧЕ СТАРОГО АККУМУЛЯТОРА, ПРОСЬБА, СНЯТЬ ЕГО ДО ПРИЕЗДА КУРЬЕРА
                        p Аккумуляторы, имеющие течь электролита, при доставке принимаются по усмотрению курьера.

    section.section.article#article
        .container
            .row-big
                article.content
                    h2 Аккумуляторы можно также сдать на вес по цене 40р/кг
                    p Все работы выполняются нами в сжатые сроки.
                    br
                    br
                    p Вы можете сдать аккумулятор прямо сейчас.
                    br
                    br
                    p Свяжитесь с нами по телефону
                        a.red(href="tel:+74951221470") +7 (495) 122-14-70
                        | или отправьте заявку на электронную почту
                        a.red(href="mailto:info@mg77.ru") info@mg77.ru
                    br
                    br
                    p Мы обеспечим прием аккумуляторных батарей максимально быстро и на комфортных для Вас условиях.
                    br
                    br
                    p Утилизация АКБ стала очень популярна в России и странах СНГ за последние 10 лет. Это связано с двумя причинами:
                    br
                    br
                    p 1. На сегодняшний момент очень остро встал вопрос о экологии. Аккумуляторы содержать вещества, которые могут очень сильно загрязнить окружающую среду, поэтому их необходимо утилизировать.
                    br
                    br
                    p 2. Рост значения использования вторичных продуктов и сырья. Запасы не вечны, поэтому сейчас начинается эпоха вторсырья. Тем более переработка аккумуляторных батарей в новые, позволяет существенно уменьшить расходы. Это позволяет удешевить АКБ.
                    br
                    br
                    p Согласно нормативам, установленным экологическим законодательством РФ, сбор отходов автомобильных аккумуляторных батарей следует производить отдельно от другого вида вторсырья. Место для хранения должно быть оборудовано таким образом, чтобы АКБ не только хранилось в отдельном месте, но и были приняты все меры по недопущению разлива электролита на землю.
                    br
                    br
                    p Наша фирма не только принимает отработанные аккумуляторные батареи, но и платит за них. Вы можете сдать нам АКБ любого вида и емкости и получить за это приличную сумму. Также вы можете при сдаче одного или нескольких аккумуляторов получить скидку при покупке нового. В некоторых случаях скидка может доходить до 100%.
                    br
                    br
                    p В нашем интернет-магазине самые выгодные условия при сдачи отработанных аккумуляторных батарей. Вы можете сдать любое количество АКБ и получить за них деньги. Еще одним преимуществом выступает то, что у нас вы сможете сразу найти замену своему отработанному аккумулятору. У нас представлен широкий ассортимент АКБ всех емкостей и моделей. Вы сможете найти как аккумуляторы известных производителей, так и малоизвестных фирм, набирающих оборы на рынке АКБ.
                    br
                    br
                    p Мы понимаем, что все наши клиенты очень ценят свое время. Именно поэтому мы работаем максимально быстро. Наши специалисты отвечают на все вопросы в течении нескольких минут после обращения. Вы можете сдать аккумулятор прямо сейчас, для этого свяжитесь с нами по телефону
                        a.red(href="tel:+74951221470") +7 (495) 122-14-70
                        | или отправьте заявку на электронную почту
                        a.red(href="mailto:info@mg77.ru") info@mg77.ru
                    br
                    br
                    p Запомните, беречь окружающую среду обязанность каждого, особенно если за это платят.